@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    366 Richland Ave 5309<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
   614.537.5993
</address>

<address>
    <strong>Support:</strong>   <a href="aw676914@ohio.edu">aw676914@ohio.edu</a><br />
   
</address>