@{ 
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>


<p>Hello my name is Avery Wallace and I am from Johns Creek Ga. I love basketball and my favorite team is the Chicago Bulls. If you ever need a movie buddy im your guy.</p>
